.tm-first-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2C947;
    height: 400px;
    margin-bottom: 40px;
    }
    .tm-heading{
        font-size: 90px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .tm-icon-div{
        padding: 30px;
    }

.img-right{
    float: right;
    width: 90%;
    height: 120%;
  }

.font-style{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading-style{
    padding-bottom: 100px;
    color: rgba(21, 122, 21, 0.829);
}

.team-heading-style{
    padding-top: 20px;
    padding-bottom: 50px;
    color: whitesmoke;
    text-align: center;
}
.about-spacing{
    padding-bottom: 250px;
}
.word-spacing{
    word-spacing: 10px;
    text-align: justify;
    line-height: 1.6;
}
.backgroundColor{
    background-color: #547d28;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}.team-members-div{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.member-div{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 500px; 
}

.picture-shadow{
    box-shadow: 15px 15px;
}
.member-img{
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    display: flex;

}
.card-shadow {
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.486), 0 10px 25px 0 rgba(0, 0, 0, 0.486);
    text-align: center;
  }
.img-left {
   width: 200px;
   height: 200px;

}
.text-style-team{
    color: rgba(245, 245, 245, 0.822);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    
}

.h3{
    padding-bottom: 20px;
    text-align: right;
    padding: 10px;
}
.h5{
    padding: 10px;
    text-align: right;
}
.padding-cards{
    padding: 20px;
}
@media only screen and (max-width:1040px){

    .member-div{
        width: 70%;
        display: flex;
        justify-content:space-between;
    }

}

@media only screen and (max-width:700px){

    .member-div{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .h3, .h5{
        text-align: center;
        width: 100%;
    }
}

