.img-right{
    float: right;
    width: 90%;
    height: 120%;
  }

.font-style{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading-style{
    padding-bottom: 100px;
    color: rgba(21, 122, 21, 0.829);
}

.team-heading-style{
    padding-top: 20px;
    padding-bottom: 50px;
    color: whitesmoke;
    text-align: center;
}
.about-spacing{
    padding-bottom: 250px;
}
.word-spacing{
    word-spacing: 10px;
    text-align: justify;
    line-height: 1.6;
}
.backgroundColor{
    background-color: #547d28;   
    margin: 20px;
    padding-bottom: 30px;
}

.picture-shadow{
    box-shadow: 15px 15px;
}

.card-shadow {
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.486), 0 10px 25px 0 rgba(0, 0, 0, 0.486);
    text-align: center;
  }
.img-left {
    float: left;
    width: 50%;
}
.text-style-team{
    color: rgba(245, 245, 245, 0.822);
    
}
.padding-top-name{
    padding-top: 30px;
}
.h3{
    padding-bottom: 20px;
    text-align: right;
}
.h5{
    text-align: right;
}
.padding-cards{
    padding: 20px;
}
