
.bg-first-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2C947;
    height: 400px;
    margin-bottom: 40px;
    }
.bg-heading{
        font-size: 90px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
.bg-icon-div{
        padding: 30px;
        color: black;
    }

.bg-container-games{
    padding: 0.1em 30px;
}
.bg-img-right{
    float: right;
    width: 90%;
    height: 100%;
  }
.bg-picture-shadow{
    box-shadow: 15px 15px;
}

.bg-text-setting{
    font-size: 19px;
    text-align: justify;
}
.footerpadding{
    padding-bottom: 40px;
}