.first-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F2C947;
    height: 600px;
    flex-direction: column;
}

.title{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    padding-top: 60px;
}

.subtitle{
    font-family: 'Times New Roman', Times, serif;
}

.photos-div{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
