.container-games{
    padding: 0.1em 40px;
}

.heading-green{
    color:  #43740A;    
}

.section-padding-White{
    padding: 100px 0px; 
}

.heading-allingment{
    padding: 70px 0px;
    text-align: center;
}