.container-games{
    padding: 0.1em 30px;
}

.section-padding-green{
    background-color: #547d28;    
    padding: 100px 0px; 
}
.section-padding-White{
    padding: 100px 0px; 
}

.heading-allingment{
    padding: 70px 0px;
    text-align: center;
}
.heading-Whitesmoke{
    color: whitesmoke;
}
.heading-green{
    color:  #547d28;    
}


