.serviceCardHeading {
    text-align: center;
    padding-bottom: 30px;
}
.serviceCardtext{

    text-align: center;
}
.align-icon{
    padding-left: 110px;
    padding-bottom: 20px;
}
.card-padding{
    padding: 20px;
}
.green-text{
    color:  #43740A;    
}
