.main-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.icon-div{
    padding: 20px;
    color: #43740A;
}
.heading{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    color: #43740A;
}
.text{
    font-size: 16px;
  text-align: center;
    
}